[Unit]
Description=Wireless Sensor Mesh Server (rundaq + emulator)
After=network.target nats-meshserver-internal.service nats-meshserver-external.service

[Service]
Type=simple
User=pmikol
WorkingDirectory=/home/pmikol/projects/wireless-sensor-mesh-daq/meshserver
Environment="PYTHONPATH=/home/pmikol/projects/wireless-sensor-mesh-daq/meshserver"
ExecStart=/usr/bin/env bash -c 'source .venv/bin/activate && exec python run_meshserver.py'

KillSignal=SIGINT
KillMode=mixed
TimeoutStopSec=10

Restart=on-failure
RestartSec=3

# Security
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
CapabilityBoundingSet=
ReadWritePaths=/home/pmikol/projects/wireless-sensor-mesh-daq/meshserver

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
