[Unit]
Description=Wireless Sensor Mesh Dataserver (FastAPI + Catcher)
After=network.target nats-dataserver.service

[Service]
Type=simple
User=pmikol
WorkingDirectory=/home/pmikol/projects/wireless-sensor-mesh-daq/dataserver
Environment="PYTHONPATH=/home/pmikol/projects/wireless-sensor-mesh-daq/dataserver"
ExecStart=/home/pmikol/projects/wireless-sensor-mesh-daq/dataserver/.venv/bin/python3.13 /home/pmikol/projects/wireless-sensor-mesh-daq/dataserver/run_dataserver.py

KillSignal=SIGINT
KillMode=mixed
TimeoutStopSec=10

Restart=on-failure
RestartSec=3

NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
CapabilityBoundingSet=
ReadWritePaths=/home/pmikol/projects/wireless-sensor-mesh-daq/dataserver

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
